:root {
    --primary-color-1: #BD00FF;
    --primary-color-2: #5024FF;
    --background-color: #0A0818;
    --background-muted-color: #322B66;
    --text-color: #FFFFFF;
    --text-muted-color: #A1A1A1;
}